{% layout 'layout.liquid' %}

{% block content %}

INDEX.liquid

<div class="mb-3">

    <form action="/faunas/X?_method=PUT" method="POST">
        <input type="text" class="form-control" name="X" placeholder="enter a state">
        <input type="submit" value="Submit">
    </form>

</div>


{% endblock %}