{% layout 'layout.liquid' %}

{% block content %}

SHOW.liquid

<div class="mb-3">

    <form action="/faunas/:X" method="GET">
        <input type="text" class="form-control" name="X" placeholder="enter a state">
        <input type="submit" value="Submit">
    </form>

</div>










{% endblock %}