{% layout 'layout.liquid' %}

{% block content %}

SHOW.liquid

<div class="mb-3">

    {% comment %}
    <form action="/faunas/X" method="GET">
        <input type="text" class="form-control" name="X" placeholder="enter a state">
        <input type="submit" value="Submit">
    </form>
    {% endcomment %}

</div class="card-group">


<div class="card" style="width: 18rem;">
    <img src="{{jsonData.data[0][12].url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{jsonData.data[0][0]}}</h5>
        <p class="card-text">{{jsonData.data[0][1].value}}</p>
        <p class="card-text">{{jsonData.data[0][2]}}</p>

        <a href="#" class="btn btn-primary">Favorite</a>
    </div>
</div>



</div>










{% endblock %}