{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md mt10">
    <form action="/users/signup" method="POST">
        <fieldset>
            <legend>New User</legend>
            <label class="form-label "></label>
            <input 
                type="text" 
                name="username" 
                class="form-control"
                placeholder="username"
            >
            <label class="form-label"></label>
            <input 
                type="password" 
                name="password" 
                class="form-control"
                placeholder="password"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create Account" 
            class="btn btn-success mt20"
        >
    </form>
</div>

{% endblock %}